@import "../global.module.scss";

.rightSide{
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    // background-color: aqua;

    input{
      height: 50px;
    }

    label{
      color: #9EA0A5;
    }
    
    .btnRegister{
      background-color: $colorSecondary;
      color: #fff;
      height: 50px;
    }

    .linkLogin{
      color: $colorSecondary;
      text-decoration: none !important; 
    }

    .noUnderline {
      text-decoration: none;
    }
  }

  // Medium devices (tablets, 768px and up)
@media (max-width: 767.98px) {
  .rightSide{
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    // background-color: aqua;

  }
}