@import "../global.module.scss";

.rightSide{
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: aqua;

    input{
      height: 50px;
    }

    label{
      color: #9EA0A5;
    }
    
    .btnLogin{
      background-color: $colorSecondary;
      color: #fff;
      height: 50px;
    }

    .linkRegister{
      color: $colorSecondary;
      text-decoration: none !important; 
    }

    .noUnderline {
      text-decoration: none;
    }
  }