.link {
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  background-color: #5e50a1;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 768px) {
  .logo {
    margin-top: 15px;
  }
}
